In [ ]:
import os
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv
load_dotenv("../prod.env", override=True)


user = os.getenv("ORACLE_USER")
password = os.getenv("ORACLE_PASSWORD")
host = os.getenv("ORACLE_HOST")
service = os.getenv("ORACLE_SERVICE")

conn_str = f"oracle+oracledb://{user}:{password}@{host}:1521/{service}"
print(conn_str)
print("user:", os.getenv("ORACLE_USER"))

engine = create_engine(conn_str)

query = """
SELECT * FROM dual
"""

df = pd.read_sql(query, engine)
df.head()

oracle+oracledb://hr:oracle@srv2.lan:1521/free
user: hr

  dummy
0     X

In [10]:
query = """
SELECT COUNT(*), COUNT(DISTINCT EMPLOYEE_ID) FROM EMPLOYEES_RAW
"""
df = pd.read_sql(query, engine)
df.head()

DatabaseError: (oracledb.exceptions.DatabaseError) ORA-00942: table or view "HR"."EMPLOYEES_RAW" does not exist
Help: https://docs.oracle.com/error-help/db/ora-00942/
[SQL:
SELECT COUNT(*), COUNT(DISTINCT EMPLOYEE_ID) FROM EMPLOYEES_RAW
]
(Background on this error at: https://sqlalche.me/e/20/4xp6)