# EXPLORE DATA ANALYSIS - DWH

### Set up & validate

In [ ]:
import os
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv
load_dotenv("prod.env", override=True)


user = os.getenv("ORACLE_USER")
password = os.getenv("ORACLE_PASSWORD")
host = os.getenv("ORACLE_HOST")
service = os.getenv("ORACLE_SERVICE")

conn_str = f"oracle+oracledb://{user}:{password}@{host}:1521/{service}"
print(conn_str)
print("user:", os.getenv("ORACLE_USER"))

engine = create_engine(conn_str)

query = """
SELECT * FROM dual
"""

df = pd.read_sql(query, engine)
df.head()

oracle+oracledb://hr_dwh:oracle@srv2.lan:1521/free
user: hr_dwh

  dummy
0     X

## Departments

## Employees

In [13]:
query = """
SELECT COUNT(*), COUNT(DISTINCT EMPLOYEE_ID) FROM EMPLOYEES_RAW
"""
df = pd.read_sql(query, engine)
df.head()

   COUNT(*)  COUNT(DISTINCTEMPLOYEE_ID)
0       107                         107

In [15]:
query = """
SELECT EMPLOYEE_ID, COUNT(*)
FROM EMPLOYEES_RAW
GROUP BY EMPLOYEE_ID
HAVING COUNT(*) > 1
"""
df = pd.read_sql(query, engine)
df.head()

Empty DataFrame
Columns: [employee_id, COUNT(*)]
Index: []