In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("R2").getOrCreate()

# R2 
fs & .csv

In [11]:
df = spark.createDataFrame(
    [
        ("jan","kowalski",44),
        ("adam","nowak",64)
    ],
    ["first","last","age"]
)
df.show()

+-----+--------+---+
|first|    last|age|
+-----+--------+---+
|  jan|kowalski| 44|
| adam|   nowak| 64|
+-----+--------+---+

In [15]:
csv1 = spark.read.format("csv").load("emp.csv")
csv1.show()

+---+-----------+------+-------+------+
|_c0|        _c1|   _c2|    _c3|   _c4|
+---+-----------+------+-------+------+
| id|       name|dep_id|exp_lvl|salary|
|  1|     'Anna'|     1|      1|  1000|
|  2| 'Krystyna'|     2|      2| 5000 |
|  3|      'Jan'|     1|      1|  1000|
|  4|     'John'|     1|      3|  7000|
|  5|     'Paul'|     2|      3|  8000|
|  6|    'Kumar'|     1|      3|  7000|
+---+-----------+------+-------+------+

In [17]:
csv2 = spark.read.csv("emp.csv").show()

+---+-----------+------+-------+------+
|_c0|        _c1|   _c2|    _c3|   _c4|
+---+-----------+------+-------+------+
| id|       name|dep_id|exp_lvl|salary|
|  1|     'Anna'|     1|      1|  1000|
|  2| 'Krystyna'|     2|      2| 5000 |
|  3|      'Jan'|     1|      1|  1000|
|  4|     'John'|     1|      3|  7000|
|  5|     'Paul'|     2|      3|  8000|
|  6|    'Kumar'|     1|      3|  7000|
+---+-----------+------+-------+------+

In [22]:
csv3 = (
    spark.read
    .format("csv")
    .options(header=True, sep=",")
    .load("emp.csv")
)
csv3.show()

+---+-----------+------+-------+------+
| id|       name|dep_id|exp_lvl|salary|
+---+-----------+------+-------+------+
|  1|     'Anna'|     1|      1|  1000|
|  2| 'Krystyna'|     2|      2| 5000 |
|  3|      'Jan'|     1|      1|  1000|
|  4|     'John'|     1|      3|  7000|
|  5|     'Paul'|     2|      3|  8000|
|  6|    'Kumar'|     1|      3|  7000|
+---+-----------+------+-------+------+

**csv ver1**

In [25]:
csv4 = (
    spark.read
    .format("csv")
    .options(header=True, sep=";")
    .load("hosp2022.csv")
)
csv4.show()

+----+-------+------+------------+--------------------------+--------------------------+-------------------+----------------+-------------+----------------------+-----------------------------------------+---------------------+
| ROK|MIESIAC|OW_NFZ|NIP_PODMIOTU|KOD_PRODUKTU_KONTRAKTOWEGO|KOD_PRODUKTU_JEDNOSTKOWEGO|KOD_TRYBU_PRZYJECIA|KOD_TRYBU_WYPISU|PLEC_PACJENTA|GRUPA_WIEKOWA_PACJENTA|PRZEDZIAL_DLUGOSCI_TRWANIA_HOSPITALIZACJI|LICZBA_HOSPITALIZACJI|
+----+-------+------+------------+--------------------------+--------------------------+-------------------+----------------+-------------+----------------------+-----------------------------------------+---------------------+
|2022|      4|    07|  1132866688|            03.4580.991.02|           5.51.01.0008013|                  6|               2|            K|           65 i więcej|                           6 i więcej dni|                   <5|
|2022|      8|    02|  5562239217|            03.4220.030.02|           5.51.01.0001087|                  3|               2|            K|                 45-64|                           6 i więcej dni|                   <5|
|2022|      1|    07|  7742411908|            03.4500.030.02|           5.51.01.0017007|                  2|               9|            K|           65 i więcej|                           6 i więcej dni|                   <5|
|2022|      9|    03|  7122409395|            03.4500.030.02|           5.51.01.0008083|                  3|               2|            M|                 45-64|                           6 i więcej dni|                   <5|
|2022|     11|    03|  9462146139|            03.4580.991.02|           5.51.01.0008015|                  6|               2|            K|           65 i więcej|                           6 i więcej dni|                   <5|
|2022|      9|    15|  7842008454|            03.4450.040.02|           5.51.01.0012014|                  3|               2|            K|           65 i więcej|                                    0 dni|                   <5|
|2022|      4|    13|  6572195982|            03.4500.030.02|           5.51.01.0006109|                  6|               2|            K|           65 i więcej|                                  3-5 dni|                   <5|
|2022|      1|    11|  5832580921|            03.4580.030.02|           5.51.01.0008099|                  6|               2|            K|                 45-64|                                  1-2 dni|                   <5|
|2022|      9|    07|  1181417683|            03.4401.030.02|           5.51.01.0014004|                  3|               2|            K|                  0-17|                                  1-2 dni|                   <5|
|2022|      7|    07|  7742411908|            03.4000.030.02|           5.51.01.0016056|                  3|               1|            M|                 45-64|                           6 i więcej dni|                   <5|
|2022|     12|    15|  7642088098|            03.4220.130.02|           5.51.01.0001048|                  2|               9|            M|           65 i więcej|                           6 i więcej dni|                   <5|
|2022|      6|    05|  8361081857|            03.4500.030.02|           5.51.01.0006072|                  6|               2|            K|                 18-44|                                  3-5 dni|                   <5|
|2022|      4|    07|  8212056050|            03.4340.030.02|           5.51.01.0004018|                  2|               1|            K|           65 i więcej|                           6 i więcej dni|                   <5|
|2022|      3|    13|  9591294907|            03.4250.030.02|           5.51.01.0006103|                  6|               2|            K|           65 i więcej|                                  1-2 dni|                   <5|
|2022|      7|    09|  7921805707|            03.4401.030.02|           5.51.01.0014003|                  3|               1|            K|                  0-17|                                  3-5 dni|                   <5|
|2022|     10|    06|  6772247459|            03.4100.030.02|           5.51.01.0005032|                  6|               2|            M|                 45-64|                           6 i więcej dni|                   <5|
|2022|      4|    08|  7471571941|            03.4000.030.02|           5.51.01.0004028|                  3|               1|            M|           65 i więcej|                                  3-5 dni|                   <5|
|2022|      7|    15|  7811619837|            03.4150.030.02|           5.51.01.0016062|                  8|               3|            M|                 18-44|                                  3-5 dni|                   <5|
|2022|      9|    01|  9121650658|            03.4000.030.02|           5.51.01.0006036|                  6|               2|            M|                 45-64|                                  1-2 dni|                   <5|
|2022|     10|    02|  8741484403|            03.4000.030.02|           5.51.01.0005094|                  3|               2|            M|                 45-64|                           6 i więcej dni|                   <5|
+----+-------+------+------------+--------------------------+--------------------------+-------------------+----------------+-------------+----------------------+-----------------------------------------+---------------------+
only showing top 20 rows

**csv ver2**

In [29]:
csv5 = spark.read.csv("hosp2022.csv", header=True, sep=";")
csv5.show()

+----+-------+------+------------+--------------------------+--------------------------+-------------------+----------------+-------------+----------------------+-----------------------------------------+---------------------+
| ROK|MIESIAC|OW_NFZ|NIP_PODMIOTU|KOD_PRODUKTU_KONTRAKTOWEGO|KOD_PRODUKTU_JEDNOSTKOWEGO|KOD_TRYBU_PRZYJECIA|KOD_TRYBU_WYPISU|PLEC_PACJENTA|GRUPA_WIEKOWA_PACJENTA|PRZEDZIAL_DLUGOSCI_TRWANIA_HOSPITALIZACJI|LICZBA_HOSPITALIZACJI|
+----+-------+------+------------+--------------------------+--------------------------+-------------------+----------------+-------------+----------------------+-----------------------------------------+---------------------+
|2022|      4|    07|  1132866688|            03.4580.991.02|           5.51.01.0008013|                  6|               2|            K|           65 i więcej|                           6 i więcej dni|                   <5|
|2022|      8|    02|  5562239217|            03.4220.030.02|           5.51.01.0001087|                  3|               2|            K|                 45-64|                           6 i więcej dni|                   <5|
|2022|      1|    07|  7742411908|            03.4500.030.02|           5.51.01.0017007|                  2|               9|            K|           65 i więcej|                           6 i więcej dni|                   <5|
|2022|      9|    03|  7122409395|            03.4500.030.02|           5.51.01.0008083|                  3|               2|            M|                 45-64|                           6 i więcej dni|                   <5|
|2022|     11|    03|  9462146139|            03.4580.991.02|           5.51.01.0008015|                  6|               2|            K|           65 i więcej|                           6 i więcej dni|                   <5|
|2022|      9|    15|  7842008454|            03.4450.040.02|           5.51.01.0012014|                  3|               2|            K|           65 i więcej|                                    0 dni|                   <5|
|2022|      4|    13|  6572195982|            03.4500.030.02|           5.51.01.0006109|                  6|               2|            K|           65 i więcej|                                  3-5 dni|                   <5|
|2022|      1|    11|  5832580921|            03.4580.030.02|           5.51.01.0008099|                  6|               2|            K|                 45-64|                                  1-2 dni|                   <5|
|2022|      9|    07|  1181417683|            03.4401.030.02|           5.51.01.0014004|                  3|               2|            K|                  0-17|                                  1-2 dni|                   <5|
|2022|      7|    07|  7742411908|            03.4000.030.02|           5.51.01.0016056|                  3|               1|            M|                 45-64|                           6 i więcej dni|                   <5|
|2022|     12|    15|  7642088098|            03.4220.130.02|           5.51.01.0001048|                  2|               9|            M|           65 i więcej|                           6 i więcej dni|                   <5|
|2022|      6|    05|  8361081857|            03.4500.030.02|           5.51.01.0006072|                  6|               2|            K|                 18-44|                                  3-5 dni|                   <5|
|2022|      4|    07|  8212056050|            03.4340.030.02|           5.51.01.0004018|                  2|               1|            K|           65 i więcej|                           6 i więcej dni|                   <5|
|2022|      3|    13|  9591294907|            03.4250.030.02|           5.51.01.0006103|                  6|               2|            K|           65 i więcej|                                  1-2 dni|                   <5|
|2022|      7|    09|  7921805707|            03.4401.030.02|           5.51.01.0014003|                  3|               1|            K|                  0-17|                                  3-5 dni|                   <5|
|2022|     10|    06|  6772247459|            03.4100.030.02|           5.51.01.0005032|                  6|               2|            M|                 45-64|                           6 i więcej dni|                   <5|
|2022|      4|    08|  7471571941|            03.4000.030.02|           5.51.01.0004028|                  3|               1|            M|           65 i więcej|                                  3-5 dni|                   <5|
|2022|      7|    15|  7811619837|            03.4150.030.02|           5.51.01.0016062|                  8|               3|            M|                 18-44|                                  3-5 dni|                   <5|
|2022|      9|    01|  9121650658|            03.4000.030.02|           5.51.01.0006036|                  6|               2|            M|                 45-64|                                  1-2 dni|                   <5|
|2022|     10|    02|  8741484403|            03.4000.030.02|           5.51.01.0005094|                  3|               2|            M|                 45-64|                           6 i więcej dni|                   <5|
+----+-------+------+------------+--------------------------+--------------------------+-------------------+----------------+-------------+----------------------+-----------------------------------------+---------------------+
only showing top 20 rows

## 3. Display df schema

In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("R2").getOrCreate()
df = spark.read.csv("games.csv", header=True, quote="\"")
df.show()

+--------------------+----------------+--------------------+-------+--------------------+--------------------+--------------------+
|                Name|Sales in Milions|              Series|Release|               Genre|           Developer|           Publisher|
+--------------------+----------------+--------------------+-------+--------------------+--------------------+--------------------+
|PlayerUnknown's B...|              42|                NULL| Dec-17|       Battle royale|        PUBG Studios|             Krafton|
|           Minecraft|              33|                NULL| Nov-11|             Sandbox|      Mojang Studios|      Mojang Studios|
|          Diablo III|              30|              Diablo| May-12| Action role-playing|Blizzard Entertai...|Blizzard Entertai...|
|         Garry's Mod|              20|                NULL| Nov-06|             Sandbox|   Facepunch Studios|               Valve|
|            Terraria|            17.2|                NULL| May-11|    Action-adventure|            Re-Logic|            Re-Logic|
|   World of Warcraft|              14|            Warcraft| Nov-04|              MMORPG|Blizzard Entertai...|Blizzard Entertai...|
|         Half-Life 2|              12|           Half-Life| Nov-04|First-person shooter|               Valve|     Valve (digital)|
|The Witcher 3: Wi...|              11|         The Witcher| May-15| Action role-playing|      CD Projekt Red|          CD Projekt|
|           StarCraft|              11|           StarCraft| Mar-98|  Real-time strategy|Blizzard Entertai...|Blizzard Entertai...|
|            The Sims|              11|            The Sims| Feb-00|     Life simulation|               Maxis|     Electronic Arts|
|           Fall Guys|              11|                NULL| Aug-20|       Battle royale|          Mediatonic|    Devolver Digital|
|RollerCoaster Tyc...|              10|RollerCoaster Tycoon| Oct-04|Construction and ...|Frontier Developm...|               Atari|
|           Half-Life|               9|           Half-Life| Nov-98|First-person shooter|               Valve|Sierra Entertainment|
|                Rust|               9|                NULL| Feb-18|            Survival|   Facepunch Studios|   Facepunch Studios|
|     Civilization VI|               8|        Civilization| Sep-10| Turn-based strategy|                  4X|       Firaxis Games|
+--------------------+----------------+--------------------+-------+--------------------+--------------------+--------------------+

In [35]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Sales in Milions: string (nullable = true)
 |-- Series: string (nullable = true)
 |-- Release: string (nullable = true)
 |-- Genre: string (nullable = true)
 |-- Developer: string (nullable = true)
 |-- Publisher: string (nullable = true)

In [8]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DoubleType

In [9]:
schema = StructType(
    [
        StructField("Book", StringType(), False),
        StructField("Authors", StringType(), False),
        StructField("Original", StringType(), False),
        StructField("Sales", IntegerType(), False)
    ]
)
print(schema)

StructType([StructField('Book', StringType(), False), StructField('Authors', StringType(), False), StructField('Original', StringType(), False), StructField('Sales', IntegerType(), False)])

In [11]:
df = spark.read.csv("games.csv", header=True, schema=schema)
df.show(5)

+--------------------+-------+--------+-----+
|                Book|Authors|Original|Sales|
+--------------------+-------+--------+-----+
|PlayerUnknown's B...|     42|    NULL| NULL|
|           Minecraft|     33|    NULL| NULL|
|          Diablo III|     30|  Diablo| NULL|
|         Garry's Mod|     20|    NULL| NULL|
|            Terraria|   17.2|    NULL| NULL|
+--------------------+-------+--------+-----+
only showing top 5 rows

25/05/12 01:23:15 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 7, schema size: 4
CSV file: file:///mnt/c/Users/Arek/Documents/_PROJEKTY/data_practice/spark/vp/games.csv

In [45]:
df.printSchema()

root
 |-- Book: string (nullable = true)
 |-- Authors: string (nullable = true)
 |-- Original: string (nullable = true)
 |-- Sales: integer (nullable = true)

In [12]:
schema = StructType(
    [
        StructField("Name", StringType(),False),
        StructField("LastName", StringType(),False),
        StructField("Age", IntegerType(),False)            
    ]
)

In [13]:
df = spark.createDataFrame(
    [
        ("jan","kowalski",44),
        ("adam","nowak",64)
    ],
    schema
)
df.show()

+----+--------+---+
|Name|LastName|Age|
+----+--------+---+
| jan|kowalski| 44|
|adam|   nowak| 64|
+----+--------+---+

## 4

In [14]:
from pyspark.sql.functions import col

In [15]:
df.select(col("Name"), col("Age")).show()

+----+---+
|Name|Age|
+----+---+
| jan| 44|
|adam| 64|
+----+---+

In [55]:
df.select("name","age").show()

+----+---+
|name|age|
+----+---+
| jan| 44|
|adam| 64|
+----+---+

In [16]:
df_sorted = df.select(col("Name"), col("Age")).orderBy(col("Age").desc())
df_sorted.show()

+----+---+
|Name|Age|
+----+---+
|adam| 64|
| jan| 44|
+----+---+

## limit & collect

In [30]:
df_sorted.show(1, truncate=False)

+----+---+
|Name|Age|
+----+---+
|adam|64 |
+----+---+
only showing top 1 row

**truncate**

In [31]:
df = spark.read.csv("games.csv", header=True, schema=schema)
df.show(1, truncate=True)

+--------------------+--------+----+
|                Name|LastName| Age|
+--------------------+--------+----+
|PlayerUnknown's B...|      42|NULL|
+--------------------+--------+----+
only showing top 1 row

25/05/12 01:40:42 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 7, schema size: 3
CSV file: file:///mnt/c/Users/Arek/Documents/_PROJEKTY/data_practice/spark/vp/games.csv

In [32]:
df.show(1, truncate=False)

+-----------------------------+--------+----+
|Name                         |LastName|Age |
+-----------------------------+--------+----+
|PlayerUnknown's Battlegrounds|42      |NULL|
+-----------------------------+--------+----+
only showing top 1 row

25/05/12 01:40:42 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 7, schema size: 3
CSV file: file:///mnt/c/Users/Arek/Documents/_PROJEKTY/data_practice/spark/vp/games.csv

**limit**

In [33]:
df_sorted.show(1)

+----+---+
|Name|Age|
+----+---+
|adam| 64|
+----+---+
only showing top 1 row

In [34]:
df_sorted.limit(1).show(50)

+----+---+
|Name|Age|
+----+---+
|adam| 64|
+----+---+

**collect**

In [35]:
df = df_sorted

In [37]:
df.limit(1).collect()

[Row(Name='adam', Age=64)]

**collect - get first row**

In [39]:
df.limit(1).collect()[0]

Row(Name='adam', Age=64)

**collect -get row, get column**

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("R3").getOrCreate()

In [5]:
df = spark.read.csv("games.csv", header=True)
df.limit(1).collect()[0][0]

"PlayerUnknown's Battlegrounds"

be careful with collect! (RAM)

## with column

In [9]:
df.show(1)

+--------------------+----------------+------+-------+-------------+------------+---------+
|                Name|Sales in Milions|Series|Release|        Genre|   Developer|Publisher|
+--------------------+----------------+------+-------+-------------+------------+---------+
|PlayerUnknown's B...|              42|  NULL| Dec-17|Battle royale|PUBG Studios|  Krafton|
+--------------------+----------------+------+-------+-------------+------------+---------+
only showing top 1 row

In [17]:
from pyspark.sql.functions import col
df.withColumn("NewColumn", col("Sales in milions") * 2 ).select(col("Sales in Milions"), col("NewColumn")).show(3)

+----------------+---------+
|Sales in Milions|NewColumn|
+----------------+---------+
|              42|     84.0|
|              33|     66.0|
|              30|     60.0|
+----------------+---------+
only showing top 3 rows

In [23]:
limited_df = df.withColumn("NewColumn", col("Sales in milions") * 2 ).limit(2).select(col("Sales in Milions"), col("NewColumn"))
limited_df.show()

+----------------+---------+
|Sales in Milions|NewColumn|
+----------------+---------+
|              42|     84.0|
|              33|     66.0|
+----------------+---------+

In [24]:
limited_df.collect()

[Row(Sales in Milions='42', NewColumn=84.0),
 Row(Sales in Milions='33', NewColumn=66.0)]

In [25]:
[row.asDict() for row in limited_df.collect()]

[{'Sales in Milions': '42', 'NewColumn': 84.0},
 {'Sales in Milions': '33', 'NewColumn': 66.0}]

In [26]:
limited_df.collect()[0]

Row(Sales in Milions='42', NewColumn=84.0)

In [27]:
limited_df.collect()[1][0]

'33'

## Dict

In [9]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, ArrayType, MapType
spark = SparkSession.builder.appName("App2").getOrCreate()

In [3]:
schema = StructType(    
    [
        StructField("col1",StringType(),False),
        StructField("first", ArrayType(StringType()), False),
        StructField("second",MapType(IntegerType(), StringType()), False)
    ]
)

data =  [
       (
           "a",
       ["test", "test2"],
       {1: "test3", 3: "test4"}
       ),
       (
           "b",
           ["foo","bar"],
           {2:"baz", 4:"qx"}
       )
    ]
df = spark.createDataFrame(data, schema)
df.show()

+----+-------------+--------------------+
|col1|        first|              second|
+----+-------------+--------------------+
|   a|[test, test2]|{1 -> test3, 3 ->...|
|   b|   [foo, bar]| {4 -> qx, 2 -> baz}|
+----+-------------+--------------------+

**Multiline**

In [4]:
df \
.collect() \
[0] \
[1]

['test', 'test2']

more explicit:

In [5]:
(
df 
.collect()
[0]
[1]
)

['test', 'test2']

In [6]:
(
df 
.collect() # get RDD data
[0] # get first row
["col1"] # get column value by name
)

'a'

In [7]:
(
df
.collect() # 1 get data from Spark RDD and load to memory 2. convert and return as List[Row]
[0]
["col1"] # get column value by name
)

'a'

In [8]:
df.where(df.col1 == "a").select("col1").show()

+----+
|col1|
+----+
|   a|
+----+

## get item, size

In [36]:
from pyspark.sql.functions import col
from pyspark.sql.functions import size
schema = StructType(    
    [
        StructField("col1",StringType(),False),
        StructField("first", ArrayType(StringType()), False),
        StructField("second",MapType(IntegerType(), StringType()), False)
    ]
)

data =  [
       (
           "a",
       ["test", "test2"],
       {1: "test3", 3: "test4"}
       ),
       (
           "b",
           ["foo","bar"],
           {2:"baz", 4:"qx"}
       )
    ]
df = spark.createDataFrame(data, schema)

In [26]:
df.select(
        col("first").getItem(0)
).show()

+--------+
|first[0]|
+--------+
|    test|
|     foo|
+--------+

**size**

In [37]:
df.select(
        col("second").getItem(2).alias("sec"),
        size(col("second"))
).show()

+----+------------+
| sec|size(second)|
+----+------------+
|NULL|           2|
| baz|           2|
+----+------------+