In [1]:
# Diagnostics

In [35]:
%load_ext sql
%sql oracle+cx_oracle://system:oracle@srv2.lan:1521/free

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Connecting and switching to connection 'oracle+cx_oracle://system:***@srv2.lan:1521/free'

In [32]:
%%sql
SELECT *
FROM v$buffer_pool_statistics

Running query in 'oracle+cx_oracle://system:***@srv2.lan:1521/free'

+----+---------+------------+-----------+-----------+------------+----------+---------+-----------+----------+------------------+---------------------+------------------+-----------------------+-------------------------+-----------------+---------------+-----------------+----------------+-----------------+--------+
| id |   name  | block_size | set_msize | cnum_repl | cnum_write | cnum_set | buf_got | sum_write | sum_scan | free_buffer_wait | write_complete_wait | buffer_busy_wait | free_buffer_inspected | dirty_buffers_inspected | db_block_change | db_block_gets | consistent_gets | physical_reads | physical_writes | con_id |
+----+---------+------------+-----------+-----------+------------+----------+---------+-----------+----------+------------------+---------------------+------------------+-----------------------+-------------------------+-----------------+---------------+-----------------+----------------+-----------------+--------+
| 3  | DEFAULT |    8192    |   97900   |   97900   |     0      |  97900   |  31165  |   13031   |    0     |        0         |          0          |        18        |           0           |            0            |      212002     |     250615    |      938243     |     22776      |      13031      |   0    |
+----+---------+------------+-----------+-----------+------------+----------+---------+-----------+----------+------------------+---------------------+------------------+-----------------------+-------------------------+-----------------+---------------+-----------------+----------------+-----------------+--------+

**Buffer Cache Hit Ratio**

In [11]:
%%sql
SELECT
    round((1 - (physical_reads / (db_block_gets + consistent_gets))) * 100,2) AS buffer_cache_hit_ratio
FROM v$buffer_pool_statistics

Running query in 'oracle+cx_oracle://system:***@srv2.lan:1521/free'

+------------------------+
| buffer_cache_hit_ratio |
+------------------------+
|         97.67          |
+------------------------+

In [13]:
%%sql
SELECT ROUND(SUM(pins - reloads) / SUM(pins) * 100,2) AS shared_pool_hit_ratio
FROM v$librarycache

Running query in 'oracle+cx_oracle://system:***@srv2.lan:1521/free'

+-----------------------+
| shared_pool_hit_ratio |
+-----------------------+
|         99.28         |
+-----------------------+

**free memory**

In [24]:
%%sql
SELECT bytes FROM v$sgastat WHERE pool = 'shared pool' and name = 'free memory'

Running query in 'oracle+cx_oracle://system:***@srv2.lan:1521/free'

+----------+
|  bytes   |
+----------+
| 47698544 |
+----------+

In [26]:
%%sql
SELECT name, value
FROM v$sysstat
WHERE name IN ('physical reads', 'db block gets', 'consistent gets')

Running query in 'oracle+cx_oracle://system:***@srv2.lan:1521/free'

+-----------------+--------+
|       name      | value  |
+-----------------+--------+
|  db block gets  | 198651 |
| consistent gets | 833176 |
|  physical reads | 23186  |
+-----------------+--------+

**Top by execution time**

In [27]:
%%sql
SELECT sql_id, executions, elapsed_time/1000000 AS elapsed_sec,
       substr(sql_text, 1, 100) || ' (...) ' || substr(sql_text, length(sql_text)-50, 50) AS sql_preview
FROM v$sql
ORDER BY elapsed_sec DESC
FETCH FIRST 3 ROWS ONLY

Running query in 'oracle+cx_oracle://system:***@srv2.lan:1521/free'

+---------------+------------+-------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------+
|     sql_id    | executions | elapsed_sec |                                                                          sql_preview                                                                          |
+---------------+------------+-------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------+
| dj2b39q3s5f74 |     1      |    3.2875   |              SELECT ALLTAB.OWNER AS "Schema",             ALLTAB.TABLE_NAME AS "Name",             ' (...) LE FROM ALL_MVIEW_LOGS WHERE ALL_MVIEW_LOGS.LOG_OW |
| b39m8n96gxk7c |     14     |   3.168819  |                                                   call dbms_autotask_prvt.run_autotask ( :0,:1 ) (...) :1 )                                                   |
| ampw9ddqufjd3 |     14     |   3.100244  |                   begin /*KAPI:capture*/ dbms_auto_index_internal.capture_sts; end; (...) apture*/ dbms_auto_index_internal.capture_sts; end                  |
+---------------+------------+-------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------+

**Top IO**

In [21]:
%%sql
SELECT sql_id, executions, disk_reads, sql_text
FROM v$sql
ORDER BY disk_reads DESC
FETCH FIRST 3 ROWS ONLY

Running query in 'oracle+cx_oracle://system:***@srv2.lan:1521/free'

+---------------+------------+------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|     sql_id    | executions | disk_reads |                                                                                sql_text                                                                               |
+---------------+------------+------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| 03guhbfpak0w7 |    174     |    733     |                  select /*+ index(idl_ub1$ i_idl_ub11) */ piece#,length,piece from idl_ub1$ where obj#=:1 and part=:2 and version=:3 order by piece#                  |
| a95n8p4vpxmps |     8      |    683     |                                                               begin prvt_hdm.execute_slave_actions; end;                                                              |
| 2sxqgx5hx76qr |    1774    |    607     | select /*+ rule */ bucket, endpoint, col#, epvalue, epvalue_raw, ep_repeat_count, endpoint_enc from histgrm$ where obj#=:1 and intcol#=:2 and row#=:3 order by bucket |
+---------------+------------+------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [23]:
%%sql
SELECT sql_id, executions, parse_calls, sql_text
FROM v$sql
ORDER BY parse_calls DESC
FETCH FIRST 3 ROWS ONLY

Running query in 'oracle+cx_oracle://system:***@srv2.lan:1521/free'

+---------------+------------+-------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|     sql_id    | executions | parse_calls |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 sql_text                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 |
+---------------+------------+-------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| 7qb74y7hp6cwd |   26265    |    26265    |  select st.dbid, st.atskid, nvl(ctl.instance_number, 0),         st.interval, st.max_run_time, st.enable,         nvl(ctl.mrct_task_time, 0),         nvl(ctl.suspendable_time, 0),         nvl(ctl.status, 0),         nvl(ctl.num_failure, 0),         nvl(ctl.last_exec_instnum, 0),         ctl.mrct_task_time_tz,         nvl(ctl.duration, 0),         nvl(ctl.cycle_begin_time, 0),         nvl(ctl.cycle_consumed_time, 0),         nvl(ctl.aligned_sched_time, 0),         st.trans_option, st.trans_last_req_time, st.trans_max_run_time,         st.load_type,         ctl.aligned_sched_time_tz,         nvl(ctl.per_exec_flag, 0),         nvl(ctl.client_p1, 0), nvl(ctl.client_p2, 0),         nvl(ctl.client_p3, 0),         st.suspendable_pol_enforced   from atsk$_settings st          left outer join           ( select * from atsk$_schedule_control            where  dbid = :dbid and atskid = :atskid  and instance_number = :instance_number ) ctl  on (ctl.dbid = st.dbid and ctl.atskid = st.atskid)  where |
| 4rg3vr6z5yw7m |    4834    |     4834    |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   select /* KSXM:FIND OWNER */ owner# from sys.obj$ where obj# = :objn                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   |
| 0npm6czzaj44m |    8826    |     4413    |                                                                                                                                                                                                                                                                                                                                                                                                                                                                           SELECT idx_objn FROM vecsys.vector$index WHERE JSON_VALUE(idx_params, '$.type') = :1                                                                                                                                                                                                                                                                                                                                                                                                                                                                           |
+---------------+------------+-------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [29]:
%%sql
SELECT component, current_size FROM v$sga_dynamic_components WHERE component = 'DEFAULT buffer cache'

Running query in 'oracle+cx_oracle://system:***@srv2.lan:1521/free'

+----------------------+--------------+
|      component       | current_size |
+----------------------+--------------+
| DEFAULT buffer cache |  838860800   |
+----------------------+--------------+

**Flashback query**

In [42]:
%%sql
SELECT * FROM V$UNDOSTAT
FETCH FIRST 3 ROWS ONLY

Running query in 'oracle+cx_oracle://system:***@srv2.lan:1521/free'

+---------------------+---------------------+---------+----------+----------+-------------+---------------+----------------+--------------+---------------+---------------+-------------+--------------+--------------+-------------+---------------+------------+---------------+-------------+---------------------+--------+
|      begin_time     |       end_time      | undotsn | undoblks | txncount | maxquerylen |   maxqueryid  | maxconcurrency | unxpstealcnt | unxpblkrelcnt | unxpblkreucnt | expstealcnt | expblkrelcnt | expblkreucnt | ssolderrcnt | nospaceerrcnt | activeblks | unexpiredblks | expiredblks | tuned_undoretention | con_id |
+---------------------+---------------------+---------+----------+----------+-------------+---------------+----------------+--------------+---------------+---------------+-------------+--------------+--------------+-------------+---------------+------------+---------------+-------------+---------------------+--------+
| 2025-03-19 19:31:08 | 2025-03-19 19:38:14 |    2    |    0     |    1     |     350     | c8h20n1d0k95m |       0        |      0       |       0       |       0       |      0      |      0       |      0       |      0      |       0       |    160     |       0       |     3184    |         1191        |   1    |
| 2025-03-19 19:21:08 | 2025-03-19 19:31:08 |    2    |    0     |    34    |     779     | aj233f3q2gzjp |       0        |      0       |       0       |       0       |      0      |      0       |      0       |      0      |       0       |    160     |       0       |     3184    |         1558        |   1    |
| 2025-03-19 19:11:08 | 2025-03-19 19:21:08 |    2    |    8     |   214    |     205     | dz1cd3nb987vx |       3        |      0       |       0       |       0       |      0      |      0       |      0       |      0      |       0       |    288     |      552      |     2504    |         985         |   1    |
+---------------------+---------------------+---------+----------+----------+-------------+---------------+----------------+--------------+---------------+---------------+-------------+--------------+--------------+-------------+---------------+------------+---------------+-------------+---------------------+--------+

In [49]:
%%sql
SELECT * FROM FAKTURY.TOWARY AS OF TIMESTAMP (SYSDATE - 2/24)
FETCH FIRST 2 ROWS ONLY

Running query in 'oracle+cx_oracle://system:***@srv2.lan:1521/free'

+--------+-----------+----------+-------------+------------+
| tow_id | tow_nazwa | tow_cena | tow_podatek | tow_jakosc |
+--------+-----------+----------+-------------+------------+
|   1    |   Laptop  |   4500   |      23     |     A      |
|   2    |  Monitor  |   1200   |      23     |     B      |
+--------+-----------+----------+-------------+------------+

In [57]:
%%sql
SELECT SCN_TO_TIMESTAMP(ORA_ROWSCN) AS ROW_TIMESTAMP
FROM faktury.TOWARY AS OF TIMESTAMP (SYSDATE - 2/24)
fetch first 2 rows only

Running query in 'oracle+cx_oracle://system:***@srv2.lan:1521/free'

+---------------------+
|    row_timestamp    |
+---------------------+
| 2025-03-19 15:24:28 |
| 2025-03-19 15:24:28 |
+---------------------+

In [58]:
%%sql
SELECT MIN(BEGIN_TIME) AS earliest_flashback, MAX(BEGIN_TIME) AS latest_flashback
FROM V$UNDOSTAT

Running query in 'oracle+cx_oracle://system:***@srv2.lan:1521/free'

+---------------------+---------------------+
|  earliest_flashback |   latest_flashback  |
+---------------------+---------------------+
| 2025-03-19 15:11:08 | 2025-03-19 19:41:08 |
+---------------------+---------------------+

In [60]:
%%sql
SELECT name, dbid, created FROM v$database

Running query in 'oracle+cx_oracle://system:***@srv2.lan:1521/free'

+------+------------+---------------------+
| name |    dbid    |       created       |
+------+------------+---------------------+
| FREE | 1467201258 | 2025-03-07 16:36:58 |
+------+------------+---------------------+

In [61]:
%%sql
SELECT name, open_mode FROM v$database

Running query in 'oracle+cx_oracle://system:***@srv2.lan:1521/free'

+------+------------+
| name | open_mode  |
+------+------------+
| FREE | READ WRITE |
+------+------------+

In [63]:
%%sql
SELECT file_name FROM dba_data_files

Running query in 'oracle+cx_oracle://system:***@srv2.lan:1521/free'

+----------------------------------------+
|               file_name                |
+----------------------------------------+
| /opt/oracle/oradata/FREE/system01.dbf  |
| /opt/oracle/oradata/FREE/sysaux01.dbf  |
|  /opt/oracle/oradata/FREE/users01.dbf  |
| /opt/oracle/oradata/FREE/undotbs01.dbf |
+----------------------------------------+

In [71]:
%%sql
SELECT name FROM v$controlfile

Running query in 'oracle+cx_oracle://system:***@srv2.lan:1521/free'

+----------------------------------------+
|                  name                  |
+----------------------------------------+
| /opt/oracle/oradata/FREE/control01.ctl |
| /opt/oracle/oradata/FREE/control02.ctl |
+----------------------------------------+

In [64]:
%%sql
SELECT name, bytes/1024/1024 AS size_mb FROM v$tempfile

Running query in 'oracle+cx_oracle://system:***@srv2.lan:1521/free'

+----------------------------------------------+---------+
|                     name                     | size_mb |
+----------------------------------------------+---------+
|     /opt/oracle/oradata/FREE/temp01.dbf      |    20   |
| /opt/oracle/oradata/FREE/pdbseed/temp01.dbf  |    10   |
| /opt/oracle/oradata/FREE/FREEPDB1/temp01.dbf |    10   |
+----------------------------------------------+---------+

In [67]:
%%sql
SELECT * FROM v$logfile

Running query in 'oracle+cx_oracle://system:***@srv2.lan:1521/free'

+--------+--------+--------+-------------------------------------+-----------------------+--------+
| GROUP# | status |  type  |                member               | is_recovery_dest_file | con_id |
+--------+--------+--------+-------------------------------------+-----------------------+--------+
|   1    |  None  | ONLINE | /opt/oracle/oradata/FREE/redo01.log |           NO          |   0    |
|   2    |  None  | ONLINE | /opt/oracle/oradata/FREE/redo02.log |           NO          |   0    |
+--------+--------+--------+-------------------------------------+-----------------------+--------+

In [69]:
%%sql
SELECT * FROM v$instance

Running query in 'oracle+cx_oracle://system:***@srv2.lan:1521/free'

+-----------------+---------------+--------------+------------+----------------+--------------+---------------------+--------+----------+---------+----------+-----------------+---------+------------------+-----------------+------------------+--------------+---------+--------+---------------+---------+--------+---------------+
| instance_number | instance_name |  host_name   |  version   | version_legacy | version_full |     startup_time    | status | parallel | THREAD# | archiver | log_switch_wait |  logins | shutdown_pending | database_status |  instance_role   | active_state | blocked | con_id | instance_mode | edition | family | database_type |
+-----------------+---------------+--------------+------------+----------------+--------------+---------------------+--------+----------+---------+----------+-----------------+---------+------------------+-----------------+------------------+--------------+---------+--------+---------------+---------+--------+---------------+
|        1        |      FREE     | 640170e5d751 | 23.0.0.0.0 |   23.0.0.0.0   | 23.7.0.25.01 | 2025-03-19 15:11:08 |  OPEN  |    NO    |    1    | STOPPED  |       None      | ALLOWED |        NO        |      ACTIVE     | PRIMARY_INSTANCE |    NORMAL    |    NO   |   0    |    REGULAR    |   FREE  |  None  |     SINGLE    |
+-----------------+---------------+--------------+------------+----------------+--------------+---------------------+--------+----------+---------+----------+-----------------+---------+------------------+-----------------+------------------+--------------+---------+--------+---------------+---------+--------+---------------+

In [86]:
%%sql
SELECT name FROM v$datafile

Running query in 'oracle+cx_oracle://system:***@srv2.lan:1521/free'

+-------------------------------------------------+
|                       name                      |
+-------------------------------------------------+
|      /opt/oracle/oradata/FREE/system01.dbf      |
|  /opt/oracle/oradata/FREE/pdbseed/system01.dbf  |
|      /opt/oracle/oradata/FREE/sysaux01.dbf      |
|  /opt/oracle/oradata/FREE/pdbseed/sysaux01.dbf  |
|       /opt/oracle/oradata/FREE/users01.dbf      |
|      /opt/oracle/oradata/FREE/undotbs01.dbf     |
|  /opt/oracle/oradata/FREE/pdbseed/undotbs01.dbf |
|  /opt/oracle/oradata/FREE/FREEPDB1/system01.dbf |
|  /opt/oracle/oradata/FREE/FREEPDB1/sysaux01.dbf |
| /opt/oracle/oradata/FREE/FREEPDB1/undotbs01.dbf |
+-------------------------------------------------+
Truncated to displaylimit of 10.

In [87]:
%%sql
SELECT name FROM v$controlfile

Running query in 'oracle+cx_oracle://system:***@srv2.lan:1521/free'

+----------------------------------------+
|                  name                  |
+----------------------------------------+
| /opt/oracle/oradata/FREE/control01.ctl |
| /opt/oracle/oradata/FREE/control02.ctl |
+----------------------------------------+

In [91]:
%%sql
SELECT member FROM v$logfile

Running query in 'oracle+cx_oracle://system:***@srv2.lan:1521/free'

+-------------------------------------+
|                member               |
+-------------------------------------+
| /opt/oracle/oradata/FREE/redo01.log |
| /opt/oracle/oradata/FREE/redo02.log |
+-------------------------------------+

In [1]:
%%sql
select status from v$instance

UsageError: Cell magic `%%sql` not found.