# SQL - Advandce Queries
## Setup DB
**CX_oracle**

In [7]:
import cx_Oracle
import pandas as pd
import os

user = os.getenv("ORACLE_USER")
password = os.getenv("ORACLE_PASSWORD")
host = os.getenv("ORACLE_HOST")
service = os.getenv("ORACLE_SERVICE")
print(user)
dsn = cx_Oracle.makedsn(host, 1521, service_name=service)
connection = cx_Oracle.connect(user, password, dsn)

query = "SELECT * FROM dual"

df = pd.read_sql(query, connection)
df.head()

hr

C:\Users\Arek\AppData\Local\Temp\ipykernel_23064\2961297814.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

  DUMMY
0     X

**SQLAlchemy**

In [8]:
from sqlalchemy import create_engine
import pandas as pd
import os

user = os.getenv("ORACLE_USER")
password = os.getenv("ORACLE_PASSWORD")
host = os.getenv("ORACLE_HOST")
service = os.getenv("ORACLE_SERVICE")

engine = create_engine(f"oracle+cx_oracle://{user}:{password}@{host}:1521/?service_name={service}")

query = "SELECT * FROM dual"
df = pd.read_sql(query, engine)

print(df.head())

  dummy
0     X

In [ ]:
# conda install -c conda-forge jupysql

SyntaxError: invalid syntax (3892429515.py, line 1)

In [1]:
%load_ext sql
%sql oracle+cx_oracle://hr:oracle@192.168.0.102:1521/free

Connecting to 'oracle+cx_oracle://hr:***@192.168.0.102:1521/free'

In [3]:
%%sql
SELECT * FROM dual

Running query in 'oracle+cx_oracle://hr:***@192.168.0.102:1521/free'

+-------+
| dummy |
+-------+
|   X   |
+-------+

## Grouping sets
**Grouping Id**